<h3 style="display: flex; justify-content: center; margin-bottom: 10px; color: #4A90E2; font-weight: bold;">
    Products
</h3>

<div class="dropdown my-4">
    <button class="btn btn-primary dropdown-toggle" type="button" id="sortingDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sort Products
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortingDropdown">
        <li><a class="dropdown-item" href="/admin/products/<%= currentPage %>?sortField=title&sortOrder=asc">Title
                (A-Z)</a></li>
        <li><a class="dropdown-item" href="/admin/products/<%= currentPage %>?sortField=title&sortOrder=desc">Title
                (Z-A)</a></li>
        <li><a class="dropdown-item" href="/admin/products/<%= currentPage %>?sortField=price&sortOrder=asc">Price (Low
                to High)</a></li>
        <li><a class="dropdown-item" href="/admin/products/<%= currentPage %>?sortField=price&sortOrder=desc">Price
                (High to Low)</a></li>
    </ul>
</div>

<div class="mb-4">
    <form action="/admin/products" method="get" class="mb-4">
        <div class="form-group">
            <input type="text" name="search" class="form-control" placeholder="Search by title or category..."
                value="<%= searchQuery || '' %>" />
        </div>
        <div class="form-group">
            <select name="sort" class="form-control">
                <option value="" <%=sortOption==='' ? 'selected' : '' %>>Sort by</option>
                <option value="priceAsc" <%=sortOption==='priceAsc' ? 'selected' : '' %>>Price: Low to High</option>
                <option value="priceDesc" <%=sortOption==='priceDesc' ? 'selected' : '' %>>Price: High to Low</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a class="page-link" href="/admin/products/<%= currentPage - 1 %>?<%= queryParams %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% for( let index=1; index <=totalPages; index++ ) { %>
            <li class="page-item <%= currentPage === index ? 'active' : '' %>">
                <a class="page-link" href="/admin/products/<%= index %>?<%= queryParams %>">
                    <%= index %>
                </a>
            </li>
            <% } %>
                <!-- Next Button -->
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="/admin/products/<%= currentPage + 1 %>?<%= queryParams %>"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
    </ul>
</nav>

<a href="/admin/products/create" class="btn btn-info"
    style="display: block; width: fit-content; margin: 0 auto 15px; background: linear-gradient(45deg, #6a11cb, #2575fc); border: none; color: white; padding: 10px 20px; border-radius: 5px;">
    <i class="fas fa-plus me-2"></i>Create New Product
</a>

<% if (hasProducts) { %>
    <table class="table table-hover table-striped text-center">
        <thead style="background-color: #f4f4f4;">
            <tr>
                <th style="width: 15%;">Title</th>
                <th style="width: 25%;">Description</th>
                <th style="width: 10%;">Price</th>
                <th style="width: 15%;">Category</th>
                <th style="width: 10%;">Is Featured</th>
                <th style="width: 15%;">Image</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((product)=> { %>
                <tr>
                    <td>
                        <%= product.title %>
                    </td>
                    <td>
                        <%= product.description %>
                    </td>
                    <td>$<%= product.price.toFixed(2) %>
                    </td>
                    <td>
                        <%= product.category %>
                    </td>
                    <td>
                        <%= product.isFeatured ? "Yes" : "No" %>
                    </td>
                    <td>
                        <img src="/<%= product.image %>" alt="Product Image"
                            style="width: 100px; height: auto; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    </td>

                    <td>
                        <a href="/admin/products/edit/<%= product._id %>" class="btn btn-info me-2"
                            style="background: linear-gradient(45deg, #6a11cb, #2575fc); border: none; color: white;">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="/admin/products/delete/<%= product._id %>" class="btn btn-danger"
                            style="background: linear-gradient(45deg, #ff416c, #ff4b2b); border: none; color: white;">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <p
            style="background-color: #4A90E2; width: fit-content; color: white; border-radius: 5px; margin: 15px auto; padding: 10px 20px; text-align: center; font-weight: bold;">
            NO PRODUCT AVAILABLE. 📦❌
        </p>
        <% } %>